<% provide(:title, "Kontak") %>
<h3>Hubungi Kami</h3>

<address>
  <strong>Cleo Mitra Depok</strong><br>
  Jl. Serua Raya - Reni Jaya No. 05<br>
  Serua Bojong Sari - Depok<br>
  <abbr title="Phone">P:</abbr> (021) 743-3381<br>
  Call Center: 0812 8423 7636 / 08777 668 5117
</address>
