<% provide(:title, "Pertanyaan") %>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Mengapa Cleo terasa hambar?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Inilah sensasi air murni. Air jenis ini terasa lebih ringan dan tidak berasa bila diminum, karena mineral-mineral yang sedikit-banyak berkontribusi memberi rasa pada air telah disisihkan.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Apa beda air murni dan air mineral?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Air mineral, sebagaimana namanya, mengandung logam-logam mineral. Jika alat tes elektrolisa sederhana dimasukkan ke dalam air mineral, akan selalu timbul gumpalan atau endapan yang berwarna coklat, hijau, kehitam-hitaman, tergantung pada jenis mineral yang ada dalam air tersebut. Sedangkan air murni, tidak mengandung apa-apa, jadi akan tetap bening saat dites elektrolisa.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Apakah Cleo benar-benar air murni? Bagaimana proses pembuatannya?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Ya. Cleo berkadar kemurnian 99,99%. Air sebagai bahan dasar Cleo diambil dari mata air pegunungan pilihan yang kemudian diproses melalui hyper membrane filter dan ozonisasi. Teknologi hiperfiltrasi 0,0001 mikron ini berfungsi menyaring keluar partikel-partikel renik seperti zat kimia beracun, logam berat, mikroorganisme, polutan, bakteri serta kuman yang bisa mengganggu kinerja organ dan metabolisme tubuh dalam jangka panjang.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Cleo adalah air beroksigen?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        Tentu saja. Semua produk air minuman di pasaran pasti mengandung oksigen. Namun, jika yang dimaksudkan adalah produk-produk yang berkadar oksigen berlebih, Cleo bukan seperti itu. Air beroksigen tinggi diperoleh melalui penyuntikan oksigen ke dalam air. Hasilnya memang menyegarkan bila diminum. Tapi oksigen itu juga mudah lepas atau menguap jika Anda membuka tutup botolnya agak lama. Ditutup rapat pun lama-lama berkurang drastis kandungan oksigen yang "dipaksa" masuk tadi. Sehingga sekali dibuka, harus segera dihabiskan. Tapi, kita minum tidak dengan tujuan untuk memperoleh oksigen, bukan? Siapapun tahu, akan gratis dan jauh lebih efektif menghirup oksigen dengan hidung daripada melalui minuman.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Apa maksud dari "Oxygen Enhanced" di label Cleo?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
        "Oxygen Enhanced" maksudnya kandungan oksigen dalam Air Murni Cleo bersifat seimbang dan stabil. Secara alamiah, air yang benar-benar murni akan bersifat mengikat oksigen. Dengan demikian, kandungan oksigen dalam Air Murni Cleo diperoleh dengan cara alami tanpa penyuntikan, air ini mengandung oksigen sampai dengan 8mg/l @ 20C. Ini batas stabil oksigen yang terlarut dalam air.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Apa kelebihan Cleo dibanding produk air minum lain?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
        <ol>
          <li>Air murni. Cleo adalah air berkadar kemurnian 99,99%.</li>
          <li>Aman. Cleo berasal dari 100% air pegunungan yang mengalir sendiri tanpa dipompa, sehingga terjamin kejernihannya. Proses pemilihan mata air dilakukan dengan teliti dan hati-hati dengan melalui serangkaian uji geologi, fisika, kimia dan mikrobiologi. Daerah perlindungan air di sekitar sumber air tersebut pun juga selalu dijaga kelestariannya.</li>
          <li>Cleo diproses melalui teknologi hyper membrane filter 0,0001 mikron dan penuh kontrol kualitas di setiap titiknya yang memastikan mineral anorganik dan mikroorganisme terfilter secara maksimal.</li>
          <li>Kemasan Cleo terbuat dari bijih plastik 100%, tanpa bahan campuran atau daur ulang.</li>
          <li>Ringan. Karena mineral-mineral yang berkontribusi memberi rasa sudah hilang.</li>
          <li>Segar. Kandungan oksigennya seimbang-stabil, sehingga takkan</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSeven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Cleo tersedia dalam kemasan apa saja?
        </a>
      </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
      <div class="panel-body">
        Ada botol 330 ml, 550 ml, dan 1.200 ml. Untuk galon, tersedia dalam ukuran 6 liter dan 19 liter. Ada juga Cleo kemasan cup.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingEight">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Mengapa Cleo lebih mahal dibanding air minum lainnya?
        </a>
      </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
      <div class="panel-body">
        Sebenarnya harga Cleo tidak terlalu mahal, jika dibandingkan kualitas dan manfaat yang Anda peroleh. Anda mendapatkan air minum yang terjamin kemurnian dan kualitasnya. Ini yang membedakan Cleo dengan air minum lainnya. Juga tidak mahal jika dibandingkan dengan risiko meminum air yang tidak berkualitas.
      </div>
    </div>
  </div>
</div>
