<% provide(:title, "Produk") %>
<div class="row">
  <div class="col-md-9">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="classic">
        <img src="https://s3-ap-southeast-1.amazonaws.com/awakening-static/allprodcleo.png" alt="Cleo Classic" class="img-responsive">
      </div>
      <div role="tabpanel" class="tab-pane fade" id="sport">
        <img src="https://s3-ap-southeast-1.amazonaws.com/awakening-static/cleo+sport.png" alt="Cleo Sport" class="img-responsive">
      </div>
      <div role="tabpanel" class="tab-pane fade" id="oxygenated">
        <img src="https://s3-ap-southeast-1.amazonaws.com/awakening-static/Cleo+Oxygenated+Water.jpg" alt="Cleo Oxygenated Water" class="img-responsive">
      </div>
      <div role="tabpanel" class="tab-pane fade" id="ecoshape">
        <img src="https://s3-ap-southeast-1.amazonaws.com/awakening-static/ecoshape-small.jpg" alt="Cleo Ecoshape" class="img-responsive">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <ul class="sidebar nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#classic" aria-controls="classic" role="tab" data-toggle="tab">Cleo Classic</a></li>

      <li role="presentation"><a href="#sport" aria-controls="sport" role="tab" data-toggle="tab">Cleo Sport</a></li>

      <li role="presentation"><a href="#oxygenated" aria-controls="oxygenated" role="tab" data-toggle="tab">Cleo Oxygenated Water</a></li>

      <li role="presentation"><a href="#ecoshape" aria-controls="ecoshape" role="tab" data-toggle="tab">Cleo Oxygenated Water</a></li>
    </ul>
  </div>
</div>
