<h1>Halaman tidak ditemukan</h1>

<img src="https://s3-ap-southeast-1.amazonaws.com/awakening-static/tagline.png" alt="BPA Free" class="img-responsive">

<p style="align: center;">Anda bisa kembali ke <%= link_to "Halaman Depan", root_path, class: "btn btn-info" %></p>
