/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require font-awesome
 *= require plugins/code_view.min.css
 *= require plugins/video.min.css
 */



 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  background: #fff url(https://s3-ap-southeast-1.amazonaws.com/awakening-static/bg_sml.jpg) top center no-repeat;
  background-repeat: repeat-x;
  padding-bottom: 60px;
}

#logo {
  float: left;
  position: absolute;
  img {
    max-width: 200px;
    margin-left: 45px;
    margin-top: 20px;
  }
}

.header-image img {
  width: 100%;
}

.wraphead {
  padding: 9px 0 0 0;
}

.navbar .nav {
  background: url("//cdn.shopify.com/s/files/1/1189/7322/files/navbg.gif?15937211079269203670") top left repeat-x;
  border-radius: 0.4em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  li a {
    padding: 5px 45px;
    color: #333;
    &:hover {
      text-decoration: none;
      background-color: transparent;
    }
  }
}
.container {
  width: 870px;
}

.text-link {
    color: #f45b4f;
    text-decoration: none;
    background: transparent;
}

.sidebar {
  li {
      margin-bottom: 0.25em;
      list-style: none;
      margin: 0;
      padding: 10px 0;
      border-bottom: 1px solid #C0CFD4;
      text-decoration: none;
      width: 100%;
      a {
          color: #f45b4f;
          text-decoration: none;
          background: transparent;
      }
  }
}

.site-nav {
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: default;
    margin: 0 auto;
    text-align: center;
}

.nav-tabs {
  border-bottom: none;
  li a {
    border: none;
  }
}

.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
  border: none;
}

.carousel {
    margin-top: 25px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;

}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Helper Class*/
.mt30 {
  margin-top: 30px;
}


/* Blog */
.post_wrapper {
  .postlist_item {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    h1.title {
      font-size: 1.8em;
      margin: 10px 0;
    }
    .date {
      color: #aaa;
      font-size: 1em;
    }
  }
  .froala-view {
    margin-bottom: 30px
  }
}
