 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  background: #fff url(https://s3-ap-southeast-1.amazonaws.com/awakening-static/bg_sml.jpg) top center no-repeat;
  background-repeat: repeat-x;
}

#logo {
  float: left;
  position: absolute;
  img {
    max-width: 200px;
    margin-left: 45px;
    margin-top: 20px;
  }
}

.header-image img {
  width: 100%;
}

.nav {
  background: url("//cdn.shopify.com/s/files/1/1189/7322/files/navbg.gif?15937211079269203670") top left repeat-x;
  border-radius: 0.4em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  li a {
    padding: 5px 45px;
  }
}
.container {
  width: 870px;
}
